$primary-gradient: linear-gradient(0deg, #de3c4b, #ca054d);

$primary: #096270;
$secondary: #1A91A2;
$success: $green !default;
$info: $cyan !default;
$warning : #F0A202;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
