$primary: #096270;
$secondary: #1A91A2;
$tertiary: #F0A202;
$quartinary: #ca054d;
$fifth: #DE3C4B;
$success: $green !default;
$info: $cyan !default;
$warning: yellow;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;


$primary-gradient: linear-gradient(0deg, $fifth, $quartinary);
$secondary-gradient: linear-gradient(0deg, $tertiary, lighten($tertiary, 15%));
$tertiary-gradient: linear-gradient(0deg, $primary, $secondary);
$quartinary-gradient: linear-gradient(0deg, $quartinary, $tertiary);