// Bootstrap CSS
@import '../node_modules/bootstrap/scss/bootstrap';

@import 'fonts';
@import 'colors';
@import 'variables';
@import 'buttons';



::-moz-selection {
	/* Code for Firefox */
	color: $white;
	background: $tertiary;
}

::selection {
	color: $white;
	background: $tertiary;
}


html {
	height: 100%;
}

body {

	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&.index {
		background: $primary-gradient;
		background-repeat: no-repeat;
		background-attachment: fixed;
		.active {
			color: darken($quartinary, 15%);
		}
	}
	&.about {
		background: $secondary-gradient;
		background-repeat: no-repeat;
		background-attachment: fixed;
		.active {
			color: darken($tertiary, 15%);
		}
		.socialicons {
			a {
				&:hover {
					color: $quartinary;
				}
			}
		}
		p {
			a {
				&:hover {
					color: $quartinary;
				}
			}
		}
	}
	&.portfolio {
		background: $tertiary-gradient;
		background-repeat: no-repeat;
		background-attachment: fixed;
		.active {
			color: darken($primary, 15%);
		}
	}
	&.contact {
		background: $quartinary-gradient;
		background-repeat: no-repeat;
		background-attachment: fixed;
		.active {
			color: darken($quartinary, 15%);
		}
		.socialicons {
			a {
				&:hover {
					color: $quartinary;
				}
			}
		}
		p {
			a {
				&:hover {
					color: $quartinary;
				}
			}
		}
	}
	a {
		color: $white;
		font-weight: $font-weight-bold;
		transition: color .2s linear;
		&:hover {
			color: $tertiary;
			text-decoration: none;
		}
	}
	main {
		color: $font-color;
		font-family: $font-family-sans-serif;
		display: flex;

		/* Nav Item Hover Effect */
		.nav-hover {

			min-width: 10rem;

			a {
				overflow: hidden;
				padding: 0 4px;
				height: 2rem;
				font-weight: 300;
				color: #fff;
				letter-spacing: .04rem;
				font-size: 1.4rem;
			}
		}

		.nav-hover a span {
			position: relative;
			display: inline-block;
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			transition: transform 0.4s;
		}

		.nav-hover a span {
			&:before {
				position: absolute;
				top: 100%;
				content: attr(data-hover);
				font-weight: 900;
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}

		}

		.nav-hover a:hover span,
		.nav-hover a:focus span {
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			transform: translateY(-100%);
		}


		/* Nav items */
		.navbar-brand {
			color: $white;
			text-transform: uppercase;
		}

		.fixed {
			position: fixed;
		}
		.navDesc {
			p {
				font-size: $font-size-base;
				@include media-breakpoint-down(md) {
					font-size: $font-size-sm;
				}
			}
		}

		.active {
			font-weight: 900;
		}

		.mobile-menu {
			position: fixed;
			bottom: 0;
			background-color: $white;
			height: 50px;
			width: 100%;
			z-index: 1;
			.mobile-item {
				height: 50px;
				text-align: center;
				padding-top: 9px;
				font-size: 1.2rem;
				span {
					font-size: 0.5rem;
					display: block;
					position: relative;
					bottom: 0.4rem;
					color: $quartinary;
				}
				a {
					color: $fifth;
				}

			}
		}

		/* Content Related */
		h1 {
			font-size: calc(#{$h1-font-size} - 3rem);
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-bold;
			color: $white;
			line-height: 4.5rem;

			@include media-breakpoint-up(sm) {
				font-size: $h1-font-size;
				line-height: $headings-line-height-small;
			}
		}
		h2 {
			font-size: $h2-font-size;
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-bold;
			color: $white;
		}
		h3 {
			font-weight: $font-weight-bold;
			color: $white;
			text-transform: uppercase;
		}
		p {
			font-size: $font-size-base;
			font-weight: $font-weight-light;
			color: $white;
		}

		.content {
			max-width: $content-width;
		}
		.attention-grabber {
			font-size: $display4-size;
			line-height: 4rem;
			color: $white;
		}

		.icecream {
			img {
				width: auto;
				height: 100%;
				position: fixed;
				top: 0;
				left: 22vw;
				z-index: -1;
				-webkit-filter: blur(2px);
				filter: blur(2px);
				@include media-breakpoint-up(md) {
					left: 40vw;
				}
				@include media-breakpoint-up(lg) {
					left: 60vw;
				}
			}

		}
		.socialicons {
			font-size: 1.6rem;
			a {
				color: $white;
				transition: color .2s linear;
				&:hover {
					color: $tertiary;
				}
			}

		}

		/* Modal Styling */
		.modal-content {
			button {
				position: absolute;
				top: 10px;
				color: $white;
				z-index: 1;
				top: -55px;
				right: 0px;
				opacity: 1;
				transition: color .2s linear;
				&:hover {
					color: $black;
				}
			}
		}

		.modal.fade .modal-dialog {
			-webkit-transition: -webkit-transform 0.3s ease-out;
			-moz-transition: -moz-transform 0.3s ease-out;
			-o-transition: -o-transform 0.3s ease-out;
			transition: transform 0.3s ease-out;
		}

		.modal.in .modal-dialog {}
		.videoWrapper {
			position: relative;
			padding-bottom: 56.25%;
			/* 16:9 */
			padding-top: 25px;
			height: 0;
		}
		.videoWrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

}


// Portfolio Styling //
.portfolio_content {
	width: 100%;
	height: 100%;
	margin: 0;
	.thumbs {
		img {
			padding: 5px;
		}
	}
	.portfolio_content {
		.badge {
			text-transform: uppercase;
			font-weight: $font-weight-bold;

		}
	}
}

.fancybox-close-small {
	width: 6rem;
	height: 6rem;
	&:after {
		font-size: 4rem;
		margin: 2rem;
		color: $white;
	}
	&:hover {
		&:after {
			background: none;
		}
	}
}
